@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

.button-primary {
  background-color: $primary-color;
  color: $text-color;
  border: none;
  border-radius: 6px;

  font-size: 1rem;
  cursor: pointer;

  @include transition(0.3s);

  &:hover {
    background-color: $primary-color-hover;
  }
}

.button-secondary {
  color: $primary-color;
  background-color: $text-color;
  border: none;
  border-radius: 6px;

  font-size: 1rem;
  cursor: pointer;

  @include transition(0.3s);

  &:hover {
    background-color: $primary-color-hover;
  }
}
